<h2>Developers</h2>
<div>


<p>The data in this site includes all campus building addresses as of Winter 2016.</p> 

<p>These addresses are for wayfinding and emergency response purposes only. Please continue to use your 1156 High St address for deliveries.</p>

<p>Developers may query and receive results in JSON format, address and locative data for campus buildings and mail stops. This is a work in progress and will continue to evolve. Suggestions are welcome.</p>


<strong>REST API</strong>
	<table class="table table-striped table-bordered table-hover">
		<tbody>
		<tr>
			<th>URL</th>
			<th>HTTP Verb</th>
			<th>Result</th>
		</tr>
		<tr>
			<td><a class="regular" href="http://building-address-api.ucsc.edu:8080/api/locations">
			http://building-addresses-api.ucsc.edu/api/locations</a></td>
			<td>GET</td>
			<td>Returns all entries</td>
		</tr>
		<tr>
			<td><a href="http://building-address-api.ucsc.edu:8080/api/locations">
			http://building-addresses-api.ucsc.edu/api/locations</a></td>
			<td>POST</td>
			<td>New entry created. (requires authentication)</td>
		</tr>
		<tr>
			<td><a href="http://building-address-api.ucsc.edu:8080/api/locations/:id">http://building-addresses-api.ucsc.edu/api/locations/:id</a></td>
			<td>GET</td>
			<td>Returns single location</td>
		</tr>
		<tr>
			<td><a href="http://building-address-api.ucsc.edu:8080/api/locations/:id">http://building-addresses-api.ucsc.edu/api/locations/:id</a></td>
			<td>PUT</td>
			<td>Updates an existing entry. (requires authentication)</td>
		</tr>
		<tr>
			<td><a href="http://building-address-api.ucsc.edu:8080/api/locations/:id">http://building-addresses-api.ucsc.edu/api/locations/:id</a></td>
			<td>DELETE</td>
			<td>Deletes an existing entry. (requires authentication)</td>
		</tr>
</tbody>
</table>

<strong>Tech Notes</strong>
<p>This version is running as a NodeJS app on the backend via ExpressJS. The backend includes a MongoDB collections for locations, building aliases, mail stops and non-building areas (parking lots, meadows, etc.). The desktop and mobile app is written in AngularJS.</p>

<strong>Future Development</strong>
<p>We'll add campus parking lots and addresses as time allows. Since that isn't used besides safety services, we'll try to hide them from the average consumer.</p>


</div>