
<div class="page-header" ng-if="location.loggedIn">
	<h1>
		New Location
		<a href="#/locations/create" class="btn btn-success">
			<span class="glyphicon glyphicon-plus"></span> 
			New Location
		</a>
	</h1>
</div>



<div>
	<p>Search on building names, street addresses, or asset (CAAN) numbers.</p>
</div>

<div>
	<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Location" ng-model="searchLocation">
      </div>      
    </div>
  </form>
 </div>

<!-- <div class="jumbotron text-center" ng-show="location.processing"> -->
<div ng-show="location.processing">
<!-- 	<span class="glyphicon glyphicon-repeat spinner"></span>
 -->	<p>Loading results...</p>
</div>

	<div><h2>Building Addresses</h2></div>
	<table class="table table-striped table-bordered table-hover" ng-show="location.locations">
		<tbody>
			<!-- <tr ng-repeat="location in ::location.locations | filter:searchLocation track by location._id"> -->
			<tr dir-paginate="location in location.locations | itemsPerPage: 100 | filter:searchLocation track by location._id">
				<td>
					<h4>{{location.assetName}}</h4>
			        	<p>
			        	{{location.address}}</br>
			        	{{location.city}}, {{location.state}}</br>
			        	{{location.zip}}</br>
			        	</p>
			        <div class="animate-show" ng-show="showMore">
			        	
			        	<p>
			        	<b>Asset:</b> {{location.assetName}}</br>
			        	<b>Address:</b> {{location.address}}</br>
			        	<b>City:</b> {{location.city}}</br>
			        	<b>State:</b> {{location.state}}</br>
			        	<b>Zip:</b> {{location.zip}}</br>
			        	</p>

			        	<p>
			        	<b>Asset Number:</b> {{location.caan}}</br>
			        	<b>Lattitude:</b> {{location.lattitude}}</br>
			        	<b>Longitude:</b> {{location.longitude}}</br>
			        	<b>Aliases:</b> building aliases placeholder</br>
			        	</p>


			        </div>
			        
			    </td>
			    <td class="vert-align text-center" width="40%">

					<button type="button" class="btn  btn-info" ng-click="showMore = !showMore">More</button>
					
					<a href="#/map?c={{location.lattitude}}:{{location.longitude}}:17&title={{location.assetName}}" type="button" role="button" class="btn btn-success">Map</a>

					<a href="#/locations/{{location._id}}" type="button" role="button" class="btn btn-warning">Edit</a>		        
			    </td>
			</tr>
		</tbody>
	</table>
<!-- <ul ng-show"location.locations">
<li dir-paginate="location in location.locations | itemsPerPage: 100">
{{location.assetName}} {{location.address}} </li>
</ul> -->

<dir-pagination-controls></dir-pagination-controls>


