<div>
	<h2>Mail Stops</h2>
</div>

<table class="table table-striped table-bordered table-hover" ng-show="mailstop.mailstops">
	<tbody>
		<!-- <tr dir-paginate="mailstop in mailstop.mailstops | itemsPerPage: 50"> -->
		<tr dir-paginate="item in mailstop.mailstops | itemsPerPage: 100">
		<td>
		<!-- htmlmin:ignore -->
			<h4>{{item.mailStop}}</h4>
			<p>{{item.address}} <br />
			<span ng-if="item.room">Room {{item.room}}</span><br />
			{{item.city}}<br />
			{{item.state}} {{item.zip}} <br />
		</p>
		<!-- htmlmin:ignore -->
		</td>

		<td class="vert-align text-center" width="40%">	
			<a href="#/map?c={{item.lattitude}}:{{item.longitude}}:17&title={{item.mailStop}}" type="button" role="button" class="btn btn-success">Map</a>

			<a ng-show="mailstop.loggedIn" href="#/mailstops/{{item._id}}" type="button" role="button" class="btn btn-warning">Edit</a>    
	    </td>

		</tr>

		</tbody>
</table>

<dir-pagination-controls></dir-pagination-controls>