<div>
	<h2>Mail Stops</h2>
</div>

<table class="table table-striped table-bordered table-hover" ng-show="mailstop.mailstops">
	<tbody>
		<!-- <tr dir-paginate="mailstop in mailstop.mailstops | itemsPerPage: 50"> -->
		<tr ng-repeat="mailstop in mailstop.mailstops">
		<td>
		<!-- htmlmin:ignore -->
			<h4>{{mailstop.mailStop}}</h4>
			<p>{{mailstop.address}} <br />
			<span ng-if="mailstop.room">Room {{mailstop.room}}</span><br />
			{{mailstop.city}}<br />
			{{mailstop.state}} {{mailstop.zip}} <br />
		</p>
		<!-- htmlmin:ignore -->
		</td>

		<td class="vert-align text-center" width="40%">	
			<a href="#/map?c={{mailstop.lattitude}}:{{mailstop.longitude}}:17&title={{mailstop.mailStop}}" type="button" role="button" class="btn btn-success">Map</a>

			<a ng-show="mailstop.loggedIn" href="#/mailstops/{{location._id}}" type="button" role="button" class="btn btn-warning">Edit</a>    
	    </td>


		</tr>
		</tbody>
</table>