<div class="jumbotron">
  <h1>UCSC Building Addresses</h1>
  <!-- <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>

<div class="row marketing">
  <h4>Building Addresses</h4>
  <p>
    We've got the complete list of campus buildings and street addresses.
  </p>
  <p>
    We've also got building aliases and asset numbers.
  </p>

  <h4>Mail Stops</h4>
  <p>
    We've got campus mail stops for departments.
  </p>

  <h4>REST API</h4>
  <p>We've got a REST API for developers.</p>

  <h4>Project History</h4>
  <p>We've got background on this project.</p>
</div>
