<div class="jumbotron">
  <h1>UCSC Building Addresses</h1>
  <img src="images/womens_center.jpg" class="img-responsive" alt="UCSC Women's Center"><br>
</div>


<div class="row marketing">
	<h2>Home</h2>

	<strong>Purpose</strong>
	<p>The data in this site includes all campus building addresses, lattitude/longitude and mail stops as of Winter 2016. These addresses are for the purpose of wayfinding and emergency response needs only. This site is <b><i>not the official</b></i> campus authority; we just use the data from Facilities Link and other sources and provide an API.</p>

	<strong>Background</strong>
	<p>In an effort to improve emergency response times on campus, individual building addresses have been created over the past two years. This addressing system was developed in conjunction with both the UCSC Police Department and what is now the Santa Cruz City Fire Department.</p>

	<p>Although the initial expectation was to utilize the new addresses for mail and delivery purposes, recent developments have necessitated that we continue to use 1156 High Street. The United States Postal Service (USPS) will only accept addresses into their database if they actually deliver to that address. Since they will still only deliver to the college mailrooms and Mail Services, they will therefore not accept our new addresses. Because there are many businesses that use USPS's database to determine if an address is valid, most of the new addresses will be rejected as invalid. </p>

	<p>Please continue to use your Mail Stop plus 1156 High Street as your mailing address. </p>

	<h4>Campus Mail Stops</h4>
	<p>We've provided a copy of the <b><a href="#/mailstops">campus mail stop</a></b> list here for convenience.</p>

	<p>The <strong>official campus mail stops</strong> can be found using the <b><a href="http://cmsmailserv.ucsc.edu/testweb/revised/index.php">SlugMail Locator</a></b>. If you have any questions about campus mail, please contact Campus Mail Services at 831-459-3169 or info@cms.ucsc.edu.</p>
</div>